<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marwaeltayeb.movietrailer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.SeeAllActivity"
                  android:label="@string/see_all_trailers"
                  android:parentActivityName=".activities.MovieActivity">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MovieActivity" />
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".activities.MovieActivity"
            android:label="@string/movie_details"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SettingActivity"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/ActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WebViewActivity"
            android:label="@string/movie_review"
            android:parentActivityName=".activities.MovieActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MovieActivity" />
        </activity>

        <receiver android:name=".receiver.NetworkChangeReceiver" />

        <activity
            android:name=".activities.FavoriteActivity"
            android:label="@string/my_favorites"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
    </application>

</manifest>